body { display: flex; flex-wrap: wrap; font-family: sans; }
header { flex-basis: 100%; flex-shrink: 0;  }
article { flex-basis: 60%; padding-left: 1em; }
footer { flex-basis: 100%; flex-shrink: 0; }
header nav { display: flex; justify-content: space-between; }
nav a, header a { text-decoration: none ; color: inherit; }
header h1 span { margin-left: 1em; font-size: 50%; font-style: italic; }
body > nav { flex-basis: content; padding-right: 1vw; min-width: 10em; }
nav ul { display: flex; flex-direction: column; list-style-type: none; list-style-position: outside; padding-left: 0;  }
nav li ul { padding-left: 0.6em }
footer { display: flex; justify-content: space-between; }
img{width:150px}


a{color:black}

.c{color:red}

body {
    font-family: 'Helvetica', sans-serif;
    line-height: 1.5;
    font-size: 0.9em;
}


a {
    text-decoration: none;
}

header {

    font-family: 'Baskerville', serif;
    }

h1 {
    font-weight: normal;
    line-height: 1;
}

h1 + blockquote {
    display: block;
    font-family: 'Baskerville', serif;
    font-size: 1.1em;
    font-style: italic;
    quotes: none;
}


h2 {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.1em;
    margin-top: 0.5em;
    }

    article { background-color: white;  border: 0.14em solid black;     }

    html { background-color: AliceBlue }

/* sidebar */
body > nav { border-right: 1px solid #000; padding: 0;  } 
body > nav > div { border-bottom: 1px solid #ddd; } 
body > nav > div a { color: rgb(0, 102, 204); display: block; text-transform: capitalize;} 
body > nav > div a:hover { color: white; background-color: rgb(100,135,220); border-left: black solid 0.2em; text-decoration: none; }
.thisPage { color: white; background-color: rgb(100,135,220); border-left: black solid 0.2em; text-decoration: none; }
body > nav > div p { font-weight: bold; margin: 0 0 0.5em 2mm; padding: 1em 0 0 0; }

/* main copy */
article { padding: 0.5ex 0 5vh 1vw;  font-family: Helvetica, Arial}
article h1, article h2 { color: rgb(0,102,204); font-weight: bold; margin: 0em 0 0 0; border-bottom: 2px solid rgb(0,102,204); }
article h3, article h4, article h5 { color: rgb(0,102,204); font-weight: bold; margin: 2em 0 0 0; }
article h6, article h7, article h8 { color: rgb(0,102,204); font-weight: bold; margin: 2em 0 0 0; }
article a { color: rgb(0,102,204); }
article a:hover { color:  rgb(100,135,220); }

/* footer */
footer { color: white; background-color: rgb(100,135,220); }
footer a { color: inherit; }
footer div { padding: 1em; }

/* tables */
table { border: 1px solid rgba(128,128,128,0.5); padding: 0; }
th { color: white; background-color: rgb(100,135,220); }
tr:nth-child(odd) { background-color: rgba(128,128,128,0.1)  }

nav ul{border-bottom:1px dashed;}
