.goralog-article-box {
	padding-top:0.5rem;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
	padding-bottom: 0.5rem;
	border-top: black 1px solid;
}

legend, label {
	color: var(--p)
}
.goralog-date {
	order: 2;
	flex: 0 0 10%;
}
.goralog-title {
	display: list-item;
	list-style: upper-roman;
	margin-left:3%;
	order: 1;
	flex: 0 0 86%;
}

.goralog-article-description {
	margin-left:5%;
	order: 3;
	flex: 0 0 83%;
}

#search-results {
	min-width: 250px;
border: 0.14em solid var(--dark);
	max-width: 5em;
	padding: 10px;
	background-color: var(--light); 
	color: var(--p);
	margin-right:1em
}

.search-item {
	color:var(--p);
	border-bottom: 1px solid #ddd;
}

.search-item a {
	display: block;
	font-weight: bold;
	color: #0077cc;
	text-decoration: none;
}

.search-item p {
	margin: 4px 0;
	font-size: 14px;
	color:var(--p)
}

/* tables */
table { border: 1px solid rgba(128,128,128,0.5); padding: 0; }
th { color: white; background-color: rgb(100,135,220); }
tr:nth-child(odd) { background-color: rgba(128,128,128,0.1)  }

.tr { min-width: 300px;max-width: 10em;  }
pre { font-size: 80%; word-wrap: break-word; object-fit:contain; max-width: 100%; white-space: pre-wrap; color:var(--p)}


#edit_text {
    background-color: var(--light); /* Light gray background */
    color: var(--p); /* Dark gray text */
}


    .new-post {
        color: #333;
    }

    .new-post input, .new-post textarea {
        background-color: var(--light); /* Green background for the submit button */
        color: var(--p);
        border: 1px solid #ccc;
    }

    .new-post textarea {
        resize: vertical; /* Allows vertical resizing of text areas */
        background-color: var(--light); /* Green background for the submit button */
        color:var(--p) ;
    }

    .new-post input[type="submit"] {
        background-color: var(--light); /* Green background for the submit button */
        color:var(--p) ;
        border: none;
        cursor: pointer;
    }

    .new-post input[type="submit"]:hover {
        background-color: #45a049; /* Darker green when hovered */
    }

.comment { color:var(--p)}

p.sitemap {
  font-family: monospace, sans-serif;
  color: red;
  margin: 0px;
  padding: 0px;
}

p.sitemap a:visited {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

p.sitemap a:link {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

p.sitemap a:hover {
  text-decoration: underline;
  background-color: yellow;
  margin: 0px;
  padding: 0px;
}

p.sitemap a:active {
  margin: 0px;
  padding: 0px;
}

